* {
  text-align: center;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
}

body {
  margin: 0;
  padding: 0;
  color: aliceblue;
  background-color: black;
}

h1 {
  font-size: 4.25rem;
  margin: 0;
  -webkit-animation: fade 3s;
  -moz-animation: fade 3s;
  animation: fade 3s;
}

h2 {
  font-size: 2.25rem;
  font-weight: 200;
  margin: 0;
  -webkit-animation: fade 4.5s;
  -moz-animation: fade 4.5s;
  animation: fade 4.5s;
}

a {
  text-decoration: none;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #fff url(/Photos/pizza\.jpg) no-repeat center;
  background-size: cover;
}

.logo {
  padding: 3rem 2rem;
  height: 30%;
  font-size: 5.75rem;
  transform: rotate(-44deg);
}

.button {
  padding: 1rem 6rem;
  border-radius: 10rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-animation: buttonBounce 2s infinite alternate;
  -moz-animation: buttonBounce 2s infinite alternate;
  animation: buttonBounce 2s infinite alternate;
}

.button:hover {
  color: #fff;
  background-color: black;
}

.footer-text {
  /* height: 40%; */
  margin-top: 10rem;
}

/* Smaller Display 600px */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.75rem;
    margin: 0;
  }

  h2 {
    font-size: 1.75rem;
    margin: 0;
  }

  .button {
    padding: 1rem 3rem;
    border-radius: 10rem;
    font-weight: 500;
  }

  .logo {
    font-size: 3.75rem;
  }
}

/* Button Animation Keyframes */

@-webkit-keyframes buttonBounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes buttonBounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes buttonBounce {
  to {
    transform: scale(1.2);
  }
}

/* Text Animation Keyframes */

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

/* Medium Display 1000px */
/* @media only screen and (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  .button {
    padding: 1rem 4.75rem;
    border-radius: 10rem;
    font-weight: 500;
  }
} */
